

<div class="layout">
  <aside class="sidebar">
    <ul>
      <li><a routerLink="/librarian-dashboard">🏠 Dashboard</a></li>
      <li><a routerLink="/librarian-dashboard/requests">📥 Borrow Requests</a></li>
      <li><a routerLink="/librarian-dashboard/return-approvals">📥 Return Approvals</a></li>
      
      <li><a routerLink="penalties" routerLinkActive="active">📬 View Penalties</a></li>
      
      <!-- Add more features like Return Approvals in future -->
    </ul>

    <button (click)="logout()" class="sidebar-btn logout">
      🚪 Logout
    </button>
    
  </aside>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
