

<h2>Borrow Requests</h2>

<table border="1" cellpadding="8">
  <tr *ngFor="let r of requests">
    <td>{{ r.book.title }}</td>
    <td>{{ r.student.fullName }}</td>
<td>Status: {{ getStatusText(r.status) }}</td>

    <td>
      <button (click)="updateStatus(r.id, 1)" [disabled]="r.status !== 0">Approve</button>
      <button (click)="updateStatus(r.id, 2)" [disabled]="r.status !== 0">Reject</button>
      <button (click)="updateStatus(r.id, 3)" [disabled]="r.status !== 1">Mark Returned</button>
    </td>
  </tr>
</table>
